<div class="textCenter">
  <h1 class="textCenter">Share Code Generator</h1>
  <p>Enter your share language below to generate the HTML to be used on the page.</p>
  <p>
    <a href="#facebook_share">Facebook</a> | 
    <a href="#twitter_share">Twitter</a> | 
    <a href="#email_share">Email</a> | 
    <a href="#buzz_share">Buzz</a>
  </p>
</div>

<div id="facebook_share" class="colWrap bottomBorder">
  <h2>Facebook</h2>
  <div class="col50p">
    <ul>
      <li>
        <label>Site Name</label>
        <input type="text" id="fb_site_name" value="" />
      </li>
      <li>
        <label>Link Title</label><br />
        <input type="text" id="fb_title" value="" />
      </li>
      <li>
        <label>Description</label>
        <textarea id="fb_description" rows="3"></textarea>
      </li>
      <li>
        <label>Content Type</label>
        <select id="fb_content_type">
          <option value="">Select One</option>
          <option value="activity">activity</option>
          <option value="actor">actor</option>
          <option value="album">album</option>
          <option value="article">article</option>
          <option value="athlete">athlete</option>
          <option value="author">author</option>
          <option value="band">band</option>
          <option value="bar">bar</option>
          <option value="blog">blog</option>
          <option value="book">book</option>
          <option value="cafe">cafe</option>
          <option value="cause">cause</option>
          <option value="city">city</option>
          <option value="company">company</option>
          <option value="country">country</option>
          <option value="director">director</option>
          <option value="drink">drink</option>
          <option value="food">food</option>
          <option value="game">game</option>
          <option value="government">government</option>
          <option value="hotel">hotel</option>
          <option value="landmark">landmark</option>
          <option value="movie">movie</option>
          <option value="musician">musician</option>
          <option value="non_profit">non_profit</option>
          <option value="politician">politician</option>
          <option value="product">product</option>
          <option value="public_figure">public_figure</option>
          <option value="restaurant">restaurant</option>
          <option value="school">school</option>
          <option value="song">song</option>
          <option value="sport">sport</option>
          <option value="sports_league">sports_league</option>
          <option value="sports_team">sports_team</option>
          <option value="state_province">state_province</option>
          <option value="tv_show">tv_show</option>
          <option value="university">university</option>
          <option value="website">website</option>
        </select>
      </li>
      <li>
        <label>Facebook Share Image URL</label>
        <input type="text" id="fb_img" value="" />
      </li>
      <li>
        <label>Page URL</label>
        <input type="text" id="fb_url" value="" />
      </li>
      <li>
        <label>Icon Type</label>
        <select id="fb_type">
          <option value="web_link">Just website link</a>
            <option value="email_link">Just email link</a>
          <option value="icon_link">Icon + Link</a>
          <option value="icon">Icon only</a>
          <option value="button">Button containing link text</a>
        </select>
      </li>
      <li>
        <button class="thoughtbot" onclick="shareFB()">Generate Facebook Share Code</button>
      </li>
    </ul>
  </div>

  <div class="col50p">
    <ul>
      <li>
        <label>Meta Tags</label>
        <textarea id="fb_metatags" rows="8"></textarea>
      </li>
      <li>
        <label>Share Link and/or Share Link</label>
        <textarea id="fb_link" rows="5"></textarea>
      </li>
      <li><p id="sample_link"></p></li>
    </ul>
  </div>
</div>


<div id="twitter_share" class="colWrap bottomBorder">
  <h2>Twitter</h2>
  <div class="col50p">
    <ul>
      <li>
        <label>Tweet Text</label>
        <textarea id="tw_tweet" rows="2"></textarea>
      </li>
    
      <li>
        <label>Simple or Web Intent?</label>
        <select id="twType">
          <option value="0">Simple Share</option>
          <option value="1">Twitter Intent</option>
        </select>
      </li>
    
      <li>
        <button class="thoughtbot" onclick="shareTW()">Generate Twitter Share Code</button>
      </li>
    </ul>
  </div>
  <div class="col50p">
    <ul>
      <li>
        <label>Twitter Link</label>
        <textarea id="tw_link" rows="3"></textarea>
      </li>
    </ul>
  </div>
</div>

<div id="email_share" class="colWrap bottomBorder">
  <h2>Email</h2>
  <div class="col50p"> 
    <ul>
      <li>
        <label>Email Subject</label>
        <input type="text" id="email_subject" value="" />
      </li>
      
      <li> 
        <label>Email Body</label>
        <textarea id="email_body" rows="5"></textarea>
      </li>
      <li>
        <button class="thoughtbot" onclick="shareEmail()">Generate Email Share Code</button>
      </li>
    </ul>
  </div>
  <div class="col50p">
    <ul>
      <li><label>Email Link</label><textarea id="email_link" rows="6"></textarea></li>
    </ul>
  </div>

</div>

<div id="buzz_share" class="colWrap bottomBorder">
  <h2>Buzz</h2>
  <div class="col50p"> 
    <ul>
      <li>
        <label>Title</label><br />
        <input type="text" id="buzz_title" value="" />
      </li>
      <li>
        <label>Snippet</label><br />
        <textarea id="buzz_snippet" rows="3"></textarea>
      </li>
      <li>
        <label>Source Home Page</label>
        <input type="text" id="buzz_homepage" value="" />
      </li>
      <li>
        <label>Source Name</label>
        <input type="text" id="buzz_src" value="" />
      </li>
      <li>
        <label>Page Shortcut URL</label>
        <input type="text" id="buzz_url" value="" />
      </li>
      <li>
        <button class="thoughtbot" onclick="shareBuzz()">Generate Buzz Share Code</button>
      </li>
    </ul>
  </div>
  <div class="col50p">
    <ul>
      <li>
        <label>Buzz Link</label><br />
        <textarea id="buzz_link" rows="10"></textarea>
      </li>
    </ul>
  </div>     
</div>
