/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
#container{width:960px;margin:0 auto;}
BODY{font-size:1.2em;background:#eee url('/img/old_wall.png') repeat 0 0 }
BODY,SELECT,INPUT,TEXTAREA{color:#444;font-family:"Trebuchet MS", Trebuchet MS, arial, sans-serif}
TABLE{width:100%}
FOOTER{margin-bottom:20px}

/* GRID */
.colWrap{position:relative;overflow:hidden;min-height:400px}
.col50p, .col200, .col760, .col100p{float:left;position:relative}
.col100p{width:100%}
.col90p{width:90%;margin:0 5% 5%}
.col760{width:760px}
.col50p{width:50%}
.col200{width:200px}
.container1{padding:10px;overflow:hidden}
.container2{padding:20px;overflow:hidden}
.container3{padding:10px 20px 0;overflow:hidden}
.bottomBorder{border-bottom:2px solid #666;padding-bottom:20px;}

/* TOPOGRAPHY */
H1,H2,H3,H4,H5,H6{font-weight:700;text-align:left;font-family:cooper,arial,helveticasans}
H1{font-size:1.7em;text-shadow:1px 1px #fff}
H2{font-size:1.3em;color:#b3b3b3;margin-bottom:0.5em}
H2 STRONG{color:#67c600;font-size:1.2em}
H3{font-size:1.2em;color:#545454;text-shadow:#cccccc 1px 1px}
P{margin-bottom:10px;}
a:hover,a:active{outline:none}
a,a:active,a:visited{color:#607890}
a:hover{color:#036}
a:link{-webkit-tap-highlight-color:#FF5E99}
NAV UL,NAV LI{list-style:none;list-style-image:none;margin:0}
SMALL, .small{font-size:85%}
STRONG,TH{font-weight:700}
TD{vertical-align:top;text-align:left;padding:0 8px 8px 0}
SUB,SUP{font-size:75%;line-height:0;position:relative}
SUP{top:-0.5em}
SUB{bottom:-0.25em}
PRE{white-space:pre-line;word-wrap:break-word;padding:15px}

/* FORMS */
textarea{overflow:auto}
.ie6 legend,.ie7 legend{margin-left:-7px}
input[type="radio"]{vertical-align:text-bottom}
input[type="checkbox"]{vertical-align:bottom}
.ie7 input[type="checkbox"]{vertical-align:baseline}
.ie6 input{vertical-align:text-bottom}
label,input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer}
button,input,select,textarea{margin:0}
input:valid, textarea:valid   { }
input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;box-shadow:0 0 5px red}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}
button{width:auto;overflow:visible}
div.field,div.actions{margin-bottom:10px}

/* BUTTON */

.thoughtbot, a.thoughtbot {
  margin:10px 0;
  background:#c63929;
  background:-moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
  border:1px solid #951100;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -moz-box-shadow:inset 0 0 0 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
  -webkit-box-shadow:inset 0 0 0 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
  box-shadow:inset 0 0 0 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
  color:#fff;
  font:700 20px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding:12px 10px 14px;
  text-align:center;
  text-shadow:0 -1px 1px rgba(0, 0, 0, .8);
  text-decoration:none;
  display:block;
  min-width:150px;
  width:auto !important;
  width:150px;
}

.thoughtbot:hover {
  background:#cb0500;
  background:-moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
  background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601));
  cursor:pointer;
  color:#4D8FCF;
}

.thoughtbot:active {
  background:#b30300;
  background:-moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
  background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #d43c28), color-stop(0.5, #ad3224), color-stop(0.5, #9c1500), color-stop(1, #700d00));
  -moz-box-shadow:inset 0 0 0 1px rgba(255, 115, 100, 0.4);
  -webkit-box-shadow:inset 0 0 0 1px rgba(255, 115, 100, 0.4);
  box-shadow:inset 0 0 0 1px rgba(255, 115, 100, 0.4);
}

  td.left-col{padding-right:50px;}
  p{margin-bottom:0 !important;}
  #facebook_share{padding-top:20px;}
  input[type="text"],textarea{width:400px;border:1px solid #444}
  #twitter_share,#email_share,#buzz_share{padding-top:40px;}

/*** GLOBAL CLASSES ***/
/*global classes*/
.floatLeft{float:left !important}
.floatRight{float:right !important}
.clearFix{width:100%;overflow:hidden}
.textLeft{text-align:left !important}
.textCenter{text-align:center !important}
.textRight{text-align:right !important}
.largerFont{font-size:130%}
.cyan{color:#0496d2}
.mediumGray{color:#777777}
.darkGray{color:#4c4c4c}
.softGreen, .softGreen A{color:#6BCF33;}
h3 .softGreen{text-shadow:#678F50 1px 1px}
.bgWhite{background:#fff}
.bgLightGray{background:#ececec}
.bgLightGray2{background:#ccc}
.bgLighestGray{background:#f2f2f2}
.clearFix{overflow:hidden}
.oldSkoolClearFix{overflow:visible}
.oldSkoolClearFix:before, .oldSkoolClearFix:after {content:"\0020";display:block;height:0;visibility:hidden}
.oldSkoolClearFix:after {clear:both}
.oldSkoolClearFix {zoom:1}
* html .oldSkoolClearFix{height:1%}
.top0{padding-top:0;margin-top:0}
.topPad5{padding-top:5px}
.bottom0{padding-bottom:0;margin-bottom:0}
.topMargin40{margin-top:40px}
.margin20{margin-top:20px;margin-bottom:20px}






/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
